<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <!-- CSS for Styling -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
  </head>
  <body>
  <div class="form-group">
    <h1><%= title %> (<%= username %>)</h1>
  </div>
  <div class="form-group" id="div-no-register">
    <h5>You are not currently registered for any modules.</h5>
  </div>
  <div class="form-group" id="div-register">
    <h5 id="h5-register-table-title">Registered Modules and Lecture Slots</h5>
    <table class="table" id="table-register">
      <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Semester</th>
        <th scope="col">Day</th>
        <th scope="col">Start Lecture</th>
        <th scope="col">End Lecture</th>
        <th scope="col">Start Round</th>
        <th scope="col">End Round</th>
        <th scope="col">Quota</th>
        <th scope="col">Rank Preference</th>
        <th scope="col">Status</th>
        <th scope="col">Prerequisites</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <% let i = 1; %>
      <% registeredLectures.forEach(lecture => { %>
        <tr>
          <td><%= i %></td>
          <td><%= lecture.mod_code %></td>
          <td><%= lecture.mod_name %></td>
          <td><%= lecture.sem %></td>
          <td><%= lecture.day %></td>
          <td><%= lecture.s_time_lect %></td>
          <td><%= lecture.e_time_lect %></td>
          <td><%= lecture.s_time_round %></td>
          <td><%= lecture.e_time_round %></td>
          <td><%= lecture.quota %></td>
          <td><%= lecture.rank_pref %></td>
          <td><%= lecture.status %></td>
          <td>Prereq</td>
          <% if (lecture.status === 'Success') { %>
          <td>No action required</td>
          <% } else if (lecture.status === 'Fail') { %>
          <td>
            <input type="button" id="btn-appeal" value="Appeal"/>
          </td>
          <% } else { %>
          <td>
            <input type="button" id="btn-delete" value="Delete"/>
          </td>
          <% } %>
        </tr>
        <% i++; %>
      <% }); %>
      </tbody>
    </table>
  </div>
  <div class="form-group" id="div-no-enrolled">
    <h5>You are not currently enrolled in any modules.</h5>
  </div>
  <div class="form-group" id="div-enrolled">
    <h5 id="h5-enrolled-table-title">Enrolled Modules and Lecture Slots</h5>
    <table class="table" id="table-enrolled">
      <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Code</th>
      </tr>
      </thead>
      <tbody>
      <% let j = 1; %>
      <% enrolledLectures.forEach(eLecture => { %>
        <tr>
          <td><%= j %></td>
          <td><%= eLecture.mod_code %></td>
        </tr>
        <% j++; %>
      <% }); %>
      </tbody>
    </table>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary"
            onclick="window.location.href='register_module'">Register Module</button>
  </div>
  <div class="form-group">
    <form action="logout" role="form" method="post">
      <button type="submit" class="btn btn-primary">Logout</button>
    </form>
  </div>
  </body>
  <script>
    $("#table-register").on('click','#btn-appeal',function() {
      const currentRow = $(this).closest("tr"); // get the current row
      const mod_code = currentRow.find("td:eq(1)").text();
      const sem = currentRow.find("td:eq(3)").text();
      const day = currentRow.find("td:eq(4)").text();
      const s_time_lect = currentRow.find("td:eq(5)").text();
      const e_time_lect = currentRow.find("td:eq(6)").text();
      window.location.href='dashboard_student/appeal?' +
              'mod_code=' + mod_code +
              '&sem=' + sem +
              '&day=' + day +
              '&s_time_lect=' + s_time_lect +
              '&e_time_lect=' + e_time_lect +
              '&s_username=' + '<%= username %>';
    });
  </script>
  <script>
    $("#table-register").on('click','#btn-delete',function() {
      const currentRow = $(this).closest("tr"); // get the current row
      const mod_code = currentRow.find("td:eq(1)").text();
      const sem = currentRow.find("td:eq(3)").text();
      const day = currentRow.find("td:eq(4)").text();
      const s_time_lect = currentRow.find("td:eq(5)").text();
      const e_time_lect = currentRow.find("td:eq(6)").text();
      window.location.href='dashboard_student/delete?' +
              'mod_code=' + mod_code +
              '&sem=' + sem +
              '&day=' + day +
              '&s_time_lect=' + s_time_lect +
              '&e_time_lect=' + e_time_lect +
              '&s_username=' + '<%= username %>';
    });
  </script>
  <script>
    (function() {
      window.addEventListener('load', function() {
        <% if (registeredLectures.length === 0) { %>
        document.getElementById('div-register').style.display = "none";
        document.getElementById('div-no-register').style.display = "block";
        <% } else { %>
        document.getElementById('div-register').style.display = "block";
        document.getElementById('div-no-register').style.display = "none";
        <% } %>

        <% if (enrolledLectures.length === 0) { %>
        document.getElementById('div-enrolled').style.display = "none";
        document.getElementById('div-no-enrolled').style.display = "block";
        <% } else { %>
        document.getElementById('div-enrolled').style.display = "block";
        document.getElementById('div-no-enrolled').style.display = "none";
        <% } %>
      });
    })();
  </script>
</html>
