<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <!-- CSS for Styling -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
  </head>
  <body>
  <h1><%= title %> (<%= username %>)</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Module Code</th>
          <th scope="col">Module Name</th>
          <th scope="col">Prerequisites</th>
          <th scope="col">Registration Start Date</th>
          <th scope="col">Registration End Date</th>
          <th scope="col">Quota</th>
          <th scope="col">Rank</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>CS2102</td>
          <td>Database Systems</td>
          <td>CS1010, CS1231</td>
          <td>15-Oct-2019 10:00 am</td>
          <td>15-Oct-2019 05:00 pm</td>
          <td>260</td>
          <td>
            <select class="form-control" id="rank" name="rank" required="required">
              <option value="" disabled="disabled" selected="selected">Select Rank</option>
              <option value="1">1</option>
            </select>
          </td>
          <td>Pending</td>
          <td>
            <!-- TODO: Add functionality for the DELETE button to delete the row -->
            <input type="button" id="btn-delete" value="Delete"/>
          </td>
        </tr>
        <% values.forEach(value => { %>
          <tr>
            <td><%= value.mod_code%></td>
            <td><%= value.mod_name%></td>
            <td><%= value.prereq%></td>
            <td><%= value.s_reg%></td>
            <td><%= value.e_reg%></td>
            <td><%= value.quota%></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" id="btn-register" name="btn-register"
              onclick="window.location.href='register_module'">Register</button>
    </div>
    <div class="form-group">
      <form action="logout" role="form" method="post">
        <button type="submit" class="btn btn-primary">Logout</button>
      </form>
    </div>
  </body>
</html>
