<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- CSS for Styling -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="form-group">
      <label for="parent">Module</label>
      <select class="form-control" id="parent" name="parent" required="required">
        <option value="" disabled="disabled" selected="selected">Select Module</option>
        <% parents.forEach(parent => { %>
          <option value="<%= parent.mod_code %>">
            <%= parent.mod_code %> <%= parent.mod_name%>
          </option>
        <% }); %>
      </select>
    </div>
    <div>
      <button type="submit" class="btn btn-primary btn-block"
              onclick="submitParentForm()">Submit</button>
    </div>
    <div class="form-group" id="div-prereqs">
      <table class="table" id="table-prereqs">
        <caption style="text-align: center;">Prerequisites</caption>
        <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Module</th>
          <th scope="col">Prerequisite</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <% let j = 1; %>
        <% prereqs.forEach(prereq => { %>
          <tr>
            <td><%= j %></td>
            <td><%= prereq.parent %></td>
            <td><%= prereq.child %></td>
            <td>
              <input type="button" id="btn-delete-prereq" value="Delete"/>
            </td>
          </tr>
          <% j++; %>
        <% }); %>
        </tbody>
      </table>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary"
              onclick="window.location.href='dashboard_admin'">Back to Home</button>
    </div>
    <div class="form-group">
      <form action="logout" role="form" method="post">
        <button type="submit" class="btn btn-primary">Logout</button>
      </form>
    </div>
    <script>
      function submitParentForm() {
        const parent = document.getElementById('parent').value;
        window.location.href='prereq/select_parent?' + 'parent=' + parent;
      }
    </script>
    <script>
      $("#table-prereqs").on('click','#btn-delete-prereq',function() {
        const currentRow = $(this).closest("tr"); // get the current row
        const parent = currentRow.find("td:eq(1)").text(); // get current row 2nd TD
        const child = currentRow.find("td:eq(2)").text();
        window.location.href='prereq/delete_prereq?' + 'parent=' + parent + '&child=' + child;
      });
    </script>
    <script>
      (function() {
        window.addEventListener('load', function() {
          <% if (prereqs.length === 0) { %>
          document.getElementById('table-prereqs').style.display = "none";
          <% } %>
        });
      })();
    </script>
  </body>
</html>
