<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= title %></title>

  <!-- Custom styles for this template-->
  <link rel="stylesheet" href="/stylesheets/modrekt.min.css" >


  <!-- Custom fonts for this template-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/all.min.css" >
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- JavaScript for Interactivity -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
          integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
          crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
          integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
          crossorigin="anonymous"></script>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion align-items-center"  id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
      <div class="sidebar-brand-icon">
        <img src="/img/regis_icon_1.png" width="50px" height="50px" class="img-responsive">
      </div>
      <div class="sidebar-brand-text mx-3" style="color: white;">ModRekt</div>
    </a>

    <li class="nav-item">
      <h4 style="color: white;"><%= username %></h4>
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="dashboard_admin">
        <span style="font-size: 1.0em;">Dashboard</span></a>
    </li>


      <!-- Nav Item - Programmes -->
      <li class="stu-nav-hide1 nav-item" >
        <a class="nav-link" href="program">
          <span style="font-size: 1.0em;">Programmes</span></a>
      </li>

    <!-- Nav Item - Modules -->
    <li class="nav-item">
      <a class="nav-link" href="module">
        <span style="font-size: 1.0em;">Modules</span></a>
    </li>


    <div class="stu-nav-hide2">
      <!-- Nav Item - Lecture Slot -->
      <li class="nav-item">
        <a class="nav-link" href="lecture_slot">
          <span style="font-size: 1.0em;">Lecture Slot</span></a>
      </li>


      <!-- Nav Item - Prerequisites -->
      <li class="nav-item">
        <a class="nav-link" href="prereq">
          <span style="font-size: 1.0em;">Prerequisites</span></a>
      </li>

      <!-- Nav Item - Round -->
      <li class="nav-item">
        <a class="nav-link" href="round">
          <span style="font-size: 1.0em;">Rounds</span></a>
      </li>

      <!-- Nav Item - Past Rounds -->
      <li class="nav-item" >
        <a class="nav-link" href="past_rounds">
          <span style="font-size: 1.0em;">Past Rounds</span></a>
      </li>

      <!-- Nav Item - Appeal -->
      <li class="nav-item" >
        <a class="nav-link" href="appeal">
          <span style="font-size: 1.0em;">Appeals</span></a>
      </li>

    </div>

    <div class="adm-nav-hide1">
      <!-- Nav Item - register_module -->
      <li class="nav-item" >
        <a class="nav-link" href="register_module">
          <span style="font-size: 1.0em;">Register Module</span></a>
      </li>
    </div>


    <li class="nav-item">
      <div class="form-group">
        <form action="logout" role="form" method="post">
          <button type="submit" class="btn btn-primary"><i class="fas fa-sign-out-alt"></i> <br/> Logout</button>
        </form>
      </div>
    </li>
  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>

        <div class="form-group text-center my-auto">
          <h1><%= title %> </h1>
          <!--   TODO: add username    -->
        </div>


      </nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

  <div class="form-group">
    <div class="form-group">
      <table class="table" id="table-programs">
        <thead class="bg-gradient-primary">
        <tr style="color: white;">
          <th scope="col">No.</th>
          <th scope="col">Programs</th>
        </tr>
        </thead>
        <tbody>
        <% let i = 1; %>
        <% programs.forEach(program => { %>
          <% if (program.prog_name !== 'Unspecified') { %>
            <tr>
              <td><%= i %></td>
              <td><%= program.prog_name %></td>
            </tr>
            <% i++; %>
          <% } %>
        <% }); %>
        </tbody>
      </table>
    <form id="program_form" action="program" role="form" method="post">
      <div class="form-row">
        <div class="form-group col">
          <label for="modules">Required Modules</label>
          <select multiple="multiple" class="form-control" id="modules" name="modules"
                  required="required" size="<%= 1 + (modules.length * 0.5) %>">
            <% modules.forEach(module => { %>
              <option value="<%= module.mod_code %>">
                <%= module.mod_code %> <%= module.mod_name%>
              </option>
            <% }); %>
          </select>
        </div>
        <div class="form-group col">
          <label for="program">Program</label>
          <input type="text" class="form-control" id="program" name="program"
                 placeholder="Enter Program" required="required">
        </div>

      </div>
      <div>
        <button type="submit" class="btn btn-info">Submit</button>
      </div>
    </form>
  </div>

  </div>

        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Made with <i style="color: red;"class="fas fa-heart"></i> by Team 14</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Page Wrapper -->


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="javascripts/modrekt.min.js"></script>

</body>

  <script>
    $("#table-programs").on('click','#btn-delete',function() {
      const currentRow = $(this).closest("tr"); // get the current row
      const prog_name = currentRow.find("td:eq(1)").text(); // get current row 3rd TD
      window.location.href='program/delete_program?program=' + prog_name;
    });
  </script>
  <script>
    (function() {
      window.addEventListener('load', function() {
        <% if (programs.length === 0) { %>
        document.getElementById('table-programs').style.display = "none";
        <% } %>
      });
    })();
  </script>
  <script>
    window.onmousedown = function (event) {
      var eventTarget = event.target;
      if (eventTarget.tagName.toLowerCase() === 'option' &&
              eventTarget.parentNode.hasAttribute('multiple')) {
        event.preventDefault();

        // toggle selection
        if (eventTarget.hasAttribute('selected')) {
          eventTarget.removeAttribute('selected');
        } else {
          eventTarget.setAttribute('selected', '');
        }

        // hack to correct buggy behavior
        var select = eventTarget.parentNode.cloneNode(true);
        eventTarget.parentNode.parentNode.replaceChild(select, eventTarget.parentNode);
      }
    }
  </script>


<script>
  (function() {
    window.addEventListener('load', function() {
      var roleType = "<%= role %>";
      if (roleType === 'Student') {
        document.getElementsByClassName('stu-nav-hide1')[0].remove();
        document.getElementsByClassName('stu-nav-hide2')[0].remove();
      }

      if (roleType === 'Admin') {
        document.getElementsByClassName('adm-nav-hide1')[0].remove();
      }
    });
  })();
</script>


</html>
