<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- CSS for Styling -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
  </head>
  <body>
  <h1><%= title %></h1>
  <form id="round_form" action="round" role="form" method="post">
    <div class="form-group">
      <label for="reg_start">Registration Start Date</label>
      <div class="form-group">
        <input type="date" class="form-control" id="reg_start_date"
               name="reg_start_date" required="required">
      </div>
      <div class="form-group">
        <input type="time" class="form-control" id="reg_start_time"
               name="reg_start_time" required="required">
      </div>
    </div>
    <div class="form-group">
      <label for="reg_end">Registration End Date</label>
      <div class="form-group">
        <input type="date" class="form-control" id="reg_end_date"
               name="reg_end_date" required="required">
      </div>
      <div class="form-group">
        <input type="time" class="form-control" id="reg_end_time"
               name="reg_end_time" required="required">
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>
  </form>
  <div class="form-group">
    <table class="table" id="table-rounds">
      <caption style="text-align: center;">Rounds</caption>
      <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Round Start Time</th>
        <th scope="col">Round End Time</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <% let i = 1; %>
      <% rounds.forEach(round => { %>
      <tr>
        <td><%= i %></td>
        <td><%= round.s_time_round %></td>
        <td><%= round.e_time_round %></td>
        <td>
          <!-- TODO: Add functionality for the DELETE button to delete the row -->
          <input type="button" id="btn-delete" value="Delete"/>
        </td>
      </tr>
        <% i++; %>
      <% }); %>
      </tbody>
    </table>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary"
            onclick="window.location.href='dashboard_admin'">Back to Home</button>
  </div>
  <div class="form-group">
    <form action="logout" role="form" method="post">
      <button type="submit" class="btn btn-primary">Logout</button>
    </form>
  </div>
  </body>
  <script>
    (function() {
      window.addEventListener('load', function() {
        <% if (rounds.length === 0) { %>
        document.getElementById('table-rounds').style.display = "none";
        <% } %>
      });
    })();
  </script>
</html>
